.header {
  width: '100vw';
  background-color: rgb(8, 68, 68);
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: '#fff';
}

.header h1 {
  margin: 0 auto;
  color: #fff;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 90px);
}

main > div {
  width: 50vw;
}

@media screen and (max-width: 480px) {
  main > div {
    width: 85vw;
  }
}

.upperContent {
  display: flex;
  justify-content: space-around;
}

.timeZone {
  background-color: rgb(15, 19, 17);
  width: 48%;
  padding: 1rem;
  border-radius: 1.3rem;
  color: #fff;
}

.weatherContent {
  background-color: aqua;
  width: 48%;
  padding: 1rem;
  border-radius: 1.3rem;
  color: rgb(15, 19, 17);
}

.weatherContent p {
  margin: 0.3rem;
}

.timeZone div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeZone h3 {
  font-size: 11pt;
  font-weight: 600;
}

.cityDesc {
  width: 100%;
  background-color: rgb(15, 19, 17);
  border-radius: 1.2rem;
  padding: 1rem;
  margin-top: 0.5rem;
  color: #fff;
}

.cityDesc div {
  display: flex;
  margin-bottom: 0.8rem;
  justify-content: space-between;
  align-items: center;
}
